body {
  text-align: center;
  background-color: #E6EBFF
}

h1 {  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-style: italic;
		color: #B7C5FF;
        font-size:20px;
        text-align: center;	
        background-color: #FEFFA7; padding: 15px;line-height: 125%;
    }

h4 {  font-family: Georgia, "Times New Roman",
        Times, serif;
        font-size:40px;
        text-align: center;
        margin-bottom:30px;
    }

h5 {  font-family: Georgia, "Times New Roman",
        Times, serif;
        font-size:20px;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 60px;}

img.right {float: left; 
	height: 650px; width: auto;
	position: absolute;
	right: -100px;
	}
img.left {float: right;
	 margin: 40px 0px 100px 15px; 
	 height: 600px; width: auto;
	 position: absolute;
	 left: 20px;}

p.dropdown {vertical-align: center;}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 35px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    min-width: 310px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;