.header{
text-align: center;
background-color: #FFBF63;
font: Verdana;
font-size: 70px;
padding: 20px;

}

.photo{
	padding: 30px;
	 }
}

h1 {
		color:#6699cc;
        font-size:25px;
        text-align: center;	
        padding: 15px; line-height: 125%;}
.subheader{
        font-size:22px;
        text-align: center;
        padding-top: 20px; }
.subsub{
    font-size:22px;
    text-align: center;
    padding-bottom: 10px;
}



body 
{
	text-align: center;
	background-color:#D0E6FF;
}
.choice-selected{
	text-align:center ;

}
.question-input{
	text-align:center; 
    font-size: 20px;

}
.topic-content{
	text-align:center;
    font-size: 40px;
    margin-bottom: -15px;
    }

p.dropdown {vertical-align: center;}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    line-height: 1em;
    padding: 20px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding:20px;
    }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFCAA3;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(255,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #ABAFCC;
    min-width: 200px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41; 




